<%= form_with(model: work, local: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :work_title %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_area :category, id: :work_category %>
  </div>

  <div class="field">
    <%= form.label :category_japan %>
    <%= form.text_area :category_japan, id: :work_category %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc, id: :work_desc %>
  </div>

  <div class="field">
    <%= form.label :desc_japan %>
    <%= form.text_area :desc_japan, id: :work_desc %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_area :link, id: :work_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
