<p id="notice"><%= notice %></p>


<p>
  <strong>Order:</strong>
  <%= @work.order %>
</p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @work.category %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @work.desc %>
</p>

<p>
  <strong>Link:</strong>
  <%= @work.link %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
