<%= javascript_tag do %>
    var body = document.getElementsByTagName("BODY")[0];    
    //body.style.backgroundImage = "url('/assets/bg/bg_14.jpg')";
    body.style.backgroundColor = "#d6dbdf ";
<% end %>

<div class="container-fluid " style="height:54vw; "">
    <div class="row"> 
        <div class="col-xs-12">
            <h1 style="margin:10px 0; display:inline-block">Welcome to my website!</h1>
            <h1 style="margin:10px 0; display:inline-block; float:right"> </h1>
        </div>
    </div>

    <div class="row" style="border-bottom:solid 0px">
        <div class="col-xs-12">
           
        </div>
    </div>

    <div class="row" style="padding:10px 0">
        <div class="col-xs-12 col-lg-3">
            <h2 style="border-bottom:solid 2px">Biography</h2>
            <img style="width:100%" src="<%= image_url('profile/profile_03.jpg') %>"/>
            <div style="margin-top:10px;">
                <p>My name is 남기웅 (南基雄, KEEWOONG NAM). Calvin Caulfield is my English nickname. </p>
                <p>I am a South Korean software engineer. I majored in Business Administration
                and Computer science at Seoul National University. I started to work at NAVER after graduation, and later at other places as software engineer or instructor.</p>
                <p>My hobby is watching television dramas, photographing, and playing guitar.</p>
            </div>
        </div>
        <div class="col-xs-12 col-lg-9">
            <h2 style="border-bottom:solid 2px">Portfolio</h2>
            <% Work.all.sort_by { |x| x.created_at }.each do |work| %>
                <div class="row" style="margin-bottom:20px;">
                    <div class="col-xs-12 col-lg-3">
                        <h3 style="display:inline-block;border-bottom:solid 0px"><%= work.title %></h3>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <p><%= work.desc.html_safe %></p>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <p><a target="_blank" href="https://github.com/calvincaulfield/<%= work.title %>">GitHub</a></p>
                        <p><a target="_blank" href="<%= work.link %>"><%= work.link %></a></p>                        
                    </div>
                </div>            
            <% end %>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12">
           
        </div>

    </div>
</div>